[submodule "Website"]
	path = Website
	url = https://github.com/SENODROOM/QuantumLanguage-Website.git
	branch = main
[submodule "Library"]
	path = examples/library
	url = https://github.com/SENODROOM/Quantum-Library.git
	branch = main
[submodule "code-explaination"]
	path = docs/code-explanation
	url = https://github.com/SENODROOM/QuantumLangCodeExplaination.git
	branch = main
